/* Establishes one centered column for the 'cities controls area':
   - Hemisphere selection dropdown
   - Overview table
*/
#Cities .citiesControlsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------- */
/* Main title */
#Cities h2 {
    /* margin-top: 5em; */
    margin-bottom: 0.5em;
}


/* ---------------------------------------------- */
/* Select dropdown */
#Cities .select-style {
    display: block;
    font-size: 0.65em;
    font-family: inherit;
    padding: 5px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 2em;
}
#Cities .select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
#Cities .select-style select:focus {
    outline: none;
}


/* ---------------------------------------------- */
/* Base 'overview' table style */
#Cities table.overview {
    font-size: 0.7em;
    text-align: left;
}

/* First column of the overview table */
#Cities table.overview td:first-child {
    color: #61dafb;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-right: 0.5em;
}

/* For alignment since first column has a smaller font */
#Cities table.overview tr {
    vertical-align: bottom;
}


/* ---------------------------------------------- */
/* Main/root container for 'card' containing tabular list of Cities */
#Cities .citieslistCard {
    background: white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em 0;
    color: rgb(90, 90, 90);
    text-align: center;
    position: relative;
}

/* Base 'citieslist' table style */
#Cities table.citieslist {
    font-size: 0.65em;
    text-align: left;
    border-collapse: collapse;
}

/* For alignment since some rows span multiple lines */
#Cities table.citieslist tr {
    vertical-align: top;
}

/* Shade alternate rows */
#Cities table.citieslist tr.altrow {
    background: rgba(240, 240, 240, 0.7);
}

/* Space after first column, limit width */
#Cities table.citieslist td:first-child {
    padding-right: 0.5em;
    max-width: 7em;
}

/* Center lat.,long. */
#Cities table.citieslist th:last-child,
#Cities table.citieslist td:last-child {
    text-align: center;
}

/* Insert small 'lat, long' header for last column */
#Cities table.citieslist th:last-child::after {
    content: 'lat, long';
}

/* Space after second-last column, prevent wrapping */
#Cities table.citieslist td.popcontrols {
    padding-right: 0.5em;
    white-space: nowrap;
}

/* Shrink lat/long text, prevent wrapping */
#Cities table.citieslist td.latlong {
    font-size: 0.85em;
    white-space: nowrap;
}

/* For city's size classification (howBig() output) */
#Cities table.citieslist span {
    font-style: italic;
    font-size: 0.8em;
}


/* ---------------------------------------------- */
/* For larger-than-mobile screens */
@media only screen and (min-width: 768px) {
    #Cities table.overview {
        font-size: 0.9em;
    }
    #Cities table.citieslist {
        font-size: 0.8em;
    }
    #Cities table.citieslist th:last-child::after {
        content: 'latitude, longitude';
    }
    #Cities table.citieslist td:first-child {
            max-width: initial;
    }
}


/* ---------------------------------------------- */
/* Buttons containing FontAwesome SVG, which do not look like
'regular' buttons - just flat glyphs */
#Cities .citieslist button {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1em;
    color: silver;
}
#Cities .citieslist button:hover {
    color: rgb(90, 90, 90);
    cursor: pointer;
}
#Cities .citieslist button:active {
    color: black;
    transform: scale(1.1);
}


#modalbackdrop {
    position: fixed;
    /* Not needed if the modal is last, i.e. it comes after all
    <element>s that are meant to be underneath it  */
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

#modalcontent {
    background: white;
    border-radius: 5px;
    padding: 1em;
    margin: 10% auto;
    color: rgb(90, 90, 90);
    min-height: 3em;
    width: 75%;
}

#modalcontent h4 {
    margin-bottom: 0;
}

#modalcontent h4+h5 {
    margin: 0.5em;
}

#modalcontent p {
    font-size: 0.8em;
}

/* 'Regular' buttons that actually look like buttons... */
#modalcontent button {
    background: rgb(50, 120, 200);
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    font-weight:bold;
    line-height: 0.5em;
    margin: 1em 1em;
    padding: 0.65em;
    text-align: center;
    text-decoration: none;
    transition: background 100ms ease-in-out, 
                transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#modalcontent button:hover,
#modalcontent button:focus {
    background: rgb(50, 90, 170);
}

#modalcontent button:active {
    transform: scale(0.95);
}

#modalcontent button.severe {
    background: rgb(230, 90, 90);
}

#modalcontent button.severe:hover,
#modalcontent button.severe:focus {
    background: rgb(210, 70, 70);
}

/* Cancel button */
#modalcontent button:first-child {
    background: silver;
    float: right;
    padding: 0.4em;
    margin-top: -0.5em;
    margin-right: -0.5em;
}
#modalcontent button:first-child:hover,
#modalcontent button:first-child:focus {
    background: grey;
}


/* ---------------------------------------------- */
/* For larger-than-mobile screens */
@media only screen and (min-width: 768px) {
    #modalcontent {
        width: 20em;
    }
    #modalcontent input {
        display: block;
        margin: auto;
    }
}


/* ---------------------------------------------- */
/* Input fields */
#modalcontent input[type=text],
#modalcontent input[type=number] {
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    /* color: grey; */
    background: white;
    font-size: 0.65em; /* if not 'inherit'ed/set, is calculated as a small value */
    font-family: inherit; /* if not 'inherit'ed/set, is set to some boring font */
    /* font-weight: bold; */
    text-align: center;
    transition: border-color 80ms ease-in-out;
}
#modalcontent input[type=text]:hover, 
#modalcontent input[type=number]:hover {
    border-color: darkgrey;
}
#modalcontent input[type=text]:focus, 
#modalcontent input[type=number]:focus {
    border-color: darkgrey;
}


