/* Establishes one centered column for the 'cities controls area':
   - hemisphere selection dropdown
   - Overview table
*/
#Cities .citiesControlsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Cities table.overview,
#Cities table.citieslist {
    font-size: 0.7em;
    text-align: left;
}

#Cities tr {
    vertical-align: bottom;

}

#Cities .overview td:first-child {
    color: #61dafb;
    font-size: 0.9em;
    text-transform: uppercase;
    padding-right: 0.5em;
}

#Cities table.citieslist {
    font-size: 0.6em;
}

#Cities table.citieslist tr {
    vertical-align: top;
}

#Cities table.citieslist th:first-child,
#Cities table.citieslist td:first-child {
    padding-right: 0.5em;
}

#Cities table.citieslist th:last-child,
#Cities table.citieslist td:last-child {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight: 600; */
    /* font-size: 0.9em; */
    /* vertical-align: bottom; */
    padding-left: 0.5em;
    text-align: center;
}

#Cities table.citieslist span {
    font-style: italic;
    font-size: 0.85em;
}

@media only screen and (min-width: 768px) {
    #Cities table.overview {
        font-size: 1em;
    }
    #Cities table.citieslist {
        font-size: 0.8em;
    }
    #Cities .overview td:first-child {
        font-size: 0.75em;
    }
}

/* Main/root container for 'card' containing tabular list of Cities
*/
#Cities .citieslistCard {
    background: white;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    color: rgb(90, 90, 90);
    text-align: center;
	position: relative;
}
#Cities #queueDataArea,
#Cities #stackDataArea {
    display: grid;
    margin: 1em;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

#Cities h2 {
    /* margin-top: 5em; */
    margin-bottom: 0.5em;
}


/* Select dropdown */
#Cities .select-style {
    display: block;
    font-size: 0.65em;
    font-family: inherit;
    padding: 5px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 2em;
}

#Cities .select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#Cities .select-style select:focus {
    outline: none;
}


/* Input fields */
#Cities input[type=text],
#Cities input[type=number] {
    border-radius: 3px;
    border: 1px solid #ccc;
    /* color: grey; */
    background: white;
    font-size: 0.65em; /* if not 'inherit'ed/set, is calculated as a small value */
    font-family: inherit; /* if not 'inherit'ed/set, is set to some boring font */
    /* font-weight: bold; */
    text-align: center;
    padding: 5px;
    transition: border-color 80ms ease-in-out;
}

#Cities input[type=text]:hover, 
#Cities input[type=number]:hover {
    border-color: darkgrey;
}

#Cities input[type=text]:focus, 
#Cities input[type=number]:focus {
    border-color: darkgrey;
}


/* Buttons containing FontAwesome SVG, which do not look like
'regular' buttons - just flat glyphs */
#Cities .citieslist button {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1em;
    color: silver;
}

#Cities .citieslist button:hover {
    color: rgb(90, 90, 90);
    cursor: pointer;
}

#Cities .citieslist button:active {
    color: black;
    transform: scale(1.1);
}