/* Establishes one centered column for the 'data controls area':
   - Data structure selection dropdown
   - Input fields & 'Insert' button
   - Position/current node controls (for linked list only)
   - 'Delete' button
*/
#DataStructures .dataControlsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Define a 3 column grid for displaying the data contained
   in a data structure
   (Drop to 2 columns on smaller screens)
*/
#DataStructures #dataDisplayArea {
    display: grid;
    margin: 0 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    border: 1px dotted red;
}
@media only screen and (max-width: 760px) {
    /* #DataStructures {
        overflow: hidden;
    } */
    #DataStructures #dataDisplayArea {
        grid-template-columns: 1fr 1fr;
    }
}


/* Select dropdown */
#DataStructures .select-style {
    display: block;
    font-size: 0.65em;
    font-family: inherit;
    padding: 5px;
    border: 2px solid rgb(220, 220, 220);
    /* width: 160px; */
    border-radius: 3px;
    background-color: #fff;
}

#DataStructures .select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#DataStructures .select-style select:focus {
    outline: none;
}


/* Input fields */
#DataStructures input[type=text],
#DataStructures input[type=number] {
    border-radius: 3px;
    border: 1px solid #ccc;
    /* color: grey; */
    background: white;
    font-size: 0.65em; /* if not 'inherit'ed/set, is calculated as a small value */
    font-family: inherit; /* if not 'inherit'ed/set, is set to some boring font */
    /* font-weight: bold; */
    text-align: center;
    padding: 5px;
    transition: border-color 80ms ease-in-out;
}

#DataStructures input[type=text]:hover, 
#DataStructures input[type=number]:hover {
    border-color: darkgrey;
}

#DataStructures input[type=text]:focus, 
#DataStructures input[type=number]:focus {
    border-color: darkgrey;
}


/* 'Regular' buttons that actually look like buttons... */
#DataStructures button {
    background: rgb(50, 120, 200);
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    font-weight:bold;
    line-height: 0.5em;
    margin: 1em 2em;
    padding: 0.65em;
    text-align: center;
    text-decoration: none;
    transition: background 100ms ease-in-out, 
                transform 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#DataStructures button:hover,
#DataStructures button:focus {
    background: rgb(50, 90, 170);
}

#DataStructures button:active {
    transform: scale(0.95);
}

#DataStructures button.severe {
    background: rgb(230, 90, 90);
}

#DataStructures button.severe:hover,
#DataStructures button.severe:focus {
    background: rgb(210, 70, 70);
}


/* Buttons containing FontAwesome SVG, which do not look like
'regular' buttons - just flat glyphs */
#DataStructures #positionControlsWrapper button {
    background: none;
    box-shadow: none;
    min-width: 3em;
    margin: 0em 0.5em;
	outline: none;
}

#DataStructures #positionControlsWrapper button:hover {
    color: #61dafb;
    cursor: pointer;
}

#DataStructures #positionControlsWrapper button:active {
    color: #fbad60;
}

#DataStructures .totalgross {
    margin-bottom: 1em;
}


/* Main/root container for 'card' which displays data
   Allows for absolute (or other) positioning of child elements
*/

#DataStructures .dataCard .default {
    background: white;
    border-radius: 5px;
    padding: 0.5em;
    color: rgb(90, 90, 90);
    text-align: center;
	position: relative;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
#DataStructures .dataCard .default:hover {
    cursor: pointer;
    box-shadow: inset 0 0px 30px rgba(97, 218, 251, 0.25), inset 0 0px 40px rgba(97, 218, 251, 0.45);
}

#DataStructures .dataCard .currentnode {
    /* background: rgb(155, 193, 194); */
    box-shadow: inset 0 0px 30px rgba(97, 218, 251, 0.25), inset 0 0px 40px rgba(97, 218, 251, 0.45);
}

#DataStructures .dataCard h5 {
    font-size: 0.7em;
    margin: 0;
    height: 3em;
    overflow: hidden;
}

#DataStructures .dataCard p {
    font-size: 0.7em;
    margin: 0;
    margin-top: 10px;
}

/* Right-linking arrow shown for linked list nodes */
#DataStructures .dataCard .rightarrow {
    color:white;
	position: absolute;
	right: -20px;
	top: 35%;
}